<h1>Restaurant List</h1>

<%= link_to "New Restaurant", new_restaurant_path %>

<table>
	<tr>
		<th>Name</th>
		<th> Description</th>
		<th>Address</th>
		<th>Phone Number</th>
	</tr>

	<% @rest.each do |rest| %>
    <tr>
      <td><%= rest.name %></td>
      <td><%= rest.description %></td>
      <td><%= rest.address %></td>
      <td><%= rest.phone_number %></td>
      <td><%= link_to 'Show', restaurant_path(rest) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(rest) %></td>
      <td><%= link_to 'Destroy', restaurant_path(rest), method: :delete, data: { confirm: 'Are you sure?' } %><td>
    </tr>
  <% end %>
</table>