<p>
  <strong>Title:</strong>
  <%= @rest.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @rest.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rest.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @rest.phone_number %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @rest.image_url(:masthead) if @rest.image? %>
</p>


<%= link_to "back", restaurants_path %>
| <%= link_to 'Edit', edit_restaurant_path(@rest) %>